.m-checkout--stacked {
  position: relative;
  color: $fontColor;

  .panel-border,
  label {
    font-weight: normal;
    font-size: 1em;
    color: $fontColor;
  }

  .stepColumn > .panel.panel-border.w-checkout-steps__step .panel-body {
    padding: 1.5em;
  }
  .stepHeader {
    margin-bottom: 2em;
  }

  input[type=text].form-input,
  textarea.form-input {
    padding: 1.75em 1.25em;
    border-width: 0;
  }
}